.bubble {
  width: 20px;
  height: 20px;
  background-color: #grey; /* Light blue color */
  border-radius: 50%;
  position: absolute;
  animation: float 5s infinite alternate; /* Floating animation */
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
